/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 'r_' prefix denotes Resene color name (http://www.resene.co.nz/) */
/* 'cl_' prefix denotes Color Lovers color name (http://www.colourlovers.com/) */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: white;
}

.main,
.footer,
.header {
  padding: 2em;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 600px;
  background: #e0d8cc;
}
.main p {
  font-size: 1.5rem;
  padding-bottom: 1em;
  color: #3a3532;
}
.main ul li {
  font-size: 1.3em;
  padding-left: 15px;
  padding-bottom: 15px;
  color: #3a3532;
}

.footer,
.header {
  width: 100%;
  background: #3a3532;
}

.header {
  font-size: 2em;
}

.footer {
  height: 150px;
}

aside p {
  display: box;
  position: relative;
  right: -550px;
  width: 160px;
  background: #473e23;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  padding: 1em;
  background: #ff5200;
  color: white;
}
