// dazDayDone.sass

@import 'reset'
@import 'colors'


// color template
$bg: white
$asideFG: black
$mainBG: $r_eighthJoss
$asideBG: $r_karma
$mainFG: black




html, body
	height: 100%
	margin: 0

body
	background: $bg

.main, 
.footer,
.header
	padding: 2em
	font-family: 'Open Sans', sans-serif
	color: $bg

.container
	display: flex
	flex-direction: column
	min-height: 100vh
	background: $bg

.main
	flex: 1
	margin: 0 auto
	width: 600px
	background: $mainBG
	p
		font-size: 1.5rem
		padding-bottom: 1em
		color: $mainFG
	ul li
		font-size: 1.3em
		padding-left: 15px
		padding-bottom: 15px
		color: $mainFG

.footer,
.header
	width: 100%
	background: $mainFG


.header
	font-size: 2em

.footer
	height: 150px

aside p
	display: flex
	position: relative
	right: -550px
	width: 160px
	background: $r_madras
	font-family: 'Open Sans', sans-serif
	font-size: 1.5em
	padding: 1em
	background: $asideBG
	color: $asideFG

#sad
	list-style-image: url(../img/emoji-sad.png)

#happy
	list-style-image: url(../img/emoji-happy.png)
