// cleanFun.jade

doctype html
html
	head
		title Clean Fun
		link(rel="stylesheet" type="text/css" href="/aNewBeginning/css/cleanFun.css")
		link(href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css')

	body
		.wrapper.clearfix 
			h1 I am wrapper
			.div#div1 
				h3 I am div1
			.div#div2
				h3 I am div2
			.div#div3
				h3 I am div3
		aside
			h3 I am the man on the side
