// dazDayDone.jade


doctype html

html
	head
		title Daz Day Done!
		link(rel="stylesheet" type="text/css" href="/aNewBeginning/css/dazDayDone.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
	body
		section.container
			.header
				p Daz Day Done!
			.main
				aside
					p Feeling Good!
			.footer
				p Copyright Daz 2016

