// dazDayDone.jade


doctype html

html
	head
		title Daz Day Done!
		link(rel="stylesheet" type="text/css" href="/aNewBeginning/css/dazDayDone.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
	body
		section.container
			.header
				p Daz Day Done!  A testimony to one man's freedom from [employer] oppression for one glorious day!
			.main
				aside
					p Feeling Good!

				p except for the following...grrrr
				ul#sad
					li receiving passive-aggressive texts from management on sick day 
					li suffering under a micro-managing [build] manager daily
					li being employed by an organisation that places corporate indemnity before it's people then..
					li ..pushing the personal and legal accountability for failures on worksites onto it's staff.  And finally..
					li ..having a spineless boss who at every opportunity fails to honor and respect his reports with integrity, pro-active thinking and un-failing commitment to thier [mental &amp; spiritual] well-being and good-health.
				p On a more positive note.  I feel grrrrreat because..
				ul#happy
					li I am learning about using Jade, SASS, Gulp, Git, web layout, development environments &amp; workflows, using Linux as a web development platform and SmartGit [&amp; more!]
					li I am challenged by ALL of these things!
					li I have commited myself to a diet and gym routine to improve my fitness and energy &amp; mental alertness.
					li My car is now road legal and (with a few exceptions) humming, yay!
					li My personal grooming is better for a haircut and aforementioned gym &amp; diet changes
					li I feel ready to take back ownership of how I feel and behave and am ready to move on from a toxic work environment, [again] yay!!!
			.footer
				p &copy;Copyright Daz 2016

