// index.jade

doctype html
html
	head
		title A New Beginning
		link(rel="stylesheet" type="text/css" href="/aNewBeginning/css/main.css")
		link(href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css')

	body

		h1 We're &nbsp; &nbsp;
			span floating!...
		.bro#brother1 
			p Brother1.
			p.left class="left", bg: #fff, color: #000, position: rel, top: 20px, line-height: 1.2rem, padding: 10px 0
		.bro#brother2
			h1 Oh my!
			p Brother 2
		.bro#brother3
			p Brother 3
		.bro#brother4
			h1 Yes! Yes!
			p Brother 4
		.centered
			p Look at me ma!  Smack in the middle!
		h1 Centered brothers.
		.centeredBros
			.bro#brother1 
				p Brother1.
				p.left class="left", bg: #fff, color: #000, position: rel, top: 20px, line-height: 1.2rem, padding: 10px 0
			.bro#brother2
				h1 Oh my!
				p Brother 2
			.bro#brother3
				p Brother 3
			.bro#brother4
				h1 Yes! Yes!
				p Brother 4
		h1 Images, images, images..
		section.lorem
			p Robin. "Now I am," said I.) One day when he climbed and said: "And the only reason forest, and lived under the does 'unders. ("What down at the tree, the name top of the name' means he sang a buzzing-noise. Winnie-the-Pooh sat does 'under the name a bee." Then I will go on," said: "And the middle of all by himself: "Then he door in gold letters, and buzzing-noise. Winnie-the-Pooh lived under the name top of the middle of is making, withought anothere came of Sanders.
			figure
				img.buddha(src='./img/smilingBuddha.png' alt='smiling buddha')
				figcaption#buddhaCap fig.1 - Smiling Buddha

		.footerContainer
			h3 I am a rock.  I am an i...i....island!

